
#nfpl_style_payment_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* padding: 20px; */
}

#nfpl_style_payment_heading {
    font-size: 1.5rem;
    margin-bottom: 3px;
}

#nfpl_style_payment_text {
    font-size: 1rem;
    margin-bottom: 2px;
}

#nfpl_style_payment_price {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#nfpl_js_style_payment_method {
    display: flex;
    flex-direction: column;
    /* row-gap: 0.4rem; */
    width: 100%;
}

.nfpl_style_payOption_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.7px solid var(--var-primary-color);
    margin: 1% 0;
    width: 100%;
    padding:  0.5rem;
    background-color: transparent;
    border-radius: 0.5rem;

}
.nfpl_style_payOption_button span{
    font-size: 0.9rem;
}

.nfpl_style_cash_button.active ,
.nfpl_style_card_button.active {
    background-color: var(--var-primary-hover) !important;
}

.nfpl_style_cash_button:hover,
.nfpl_style_card_button:hover {
    opacity: 0.9;
    background-color: var(--var-primary-hover);
}


/* #nfpl_js_submit_button{
    border: none;
    background-color: lightgreen !important;
    color: black;
    width: min-content;
    padding: 0.5rem 0.6rem;
    margin: 0.5rem 0;
    border-radius: 0.4rem;
} */

#nfpl_js_style_loading_spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.nfpl_js_styles_d_none {
    display: none;
}